<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Asian Mafia Headquarters</h1>
        <h3>See who's next on the hit list</h3>
        <h3>Login!</h3>
        <form action="/login" method="post">
            <table>
                <tr>
                    <td>Email: <input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Password: <input type="password" name="password">
                </tr>
            </table>
            <input type="submit" name="submit" value="Login">
            <p>Dont have an account? <a href="/register_page">Register Here!</a></p>
        </form>


    </body>
</html>
