<!DOCTYPE html>
<html>
<head>
	<title>Survey</title>
</head>
<body>
	<form action='/survey/process' method='post'>
    {% csrf_token %}
		Name:<input type="text" name="name">

		<br><br>

		Dojo Location: <select name="location">
			<option value="burbank">Burbank</option>
			<option value="sanjose">San Jose</option>
			<option value="seattle">Seattle</option>
		</select>

		<br><br>

		Favorite Language: <select name="lang">
			<option value="python">Python</option>
			<option value="javascript">Javascript</option>
			<option value="java">Java</option>
		</select>

		<br><br>

		<textarea name="comment" placeholder="Comment here"></textarea>

		<br>

		<input type="submit" value="create user">

	</form>
</body>
</html>
