<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Black Market</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'armadon_app/css/style.css' %}"> <!--link css-->
    </head>
    <body>
        <div id="wrapper">
            <h1>Welcome to the Black Market</h1>

            {% for item in items %}  <!--this forLoop creates a new form for each item in the items dictionary-->
            <h4>{{ item.name }}</h4> <!--Grabs the "name" key from the items dictionary-->
            <p>{{ item.price }}</p>  <!--Grabs the "price" key from the items dictionary-->
            <form action="/process/{{item.id}}" method="post"> <!--Grabs the "id" key from the items dictionary-->
                {% csrf_token %}
                <select name = "quantity"> <!--Give select a name to refer to it -->
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
                <input type="submit" value='Buy!'>
            </form>
            <hr>
            {% endfor %}

        </div>
    </body>
</html>
