#wrapper {
    width: 533px;
    margin: 0 auto;    
}

table {
    border: 1px solid black;
}

th {
    padding: 0px 25px;
}

#form {
    text-align: right;
}

#main {
    width: 350px; 
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    border-radius: 5px;
}

td {
    text-align: center;
}